<!-- views/index.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Plants App</title>
  </head>
  <body>
    <h1>Welcome to Plantique!</h1>
    <p>Where your love for plants takes root and blossoms!</p>
    <a href="/plants">Choose your Plant</a>
  </body>
</html>